.table {
    margin-top:20px;
    width: 80vw;
    color: #6a5d5d;
    background-color: white;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 1.0rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}